@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.nav-info-items {
    color: #fff;
}

.nav-info-items .fas {

}

.nav-info-items .cart-info {
    border: #fff 2px solid;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.nav-info-items .cart-info:hover {
    background: red;
    color: black;
}

/* banner header */
.head-bg {
    min-height:  100vh;
    width: 100vw;
    background: url('../img/japanese-sword-on-stand.jpg') no-repeat center center /cover;
    background-attachment: fixed;
}


.head-bg h1 {
    color: #fff
}

.red-sword {
    color: #dc3545;
}

.head-bg a {
    color: white;
    font-size: 1.5rem;
    border: solid 2px #fff;
    padding: 5px;
    border-radius: 5px;
}

.head-bg a:hover {
    background: #fff;
    border-color: #dc3545;
    color: #dc3545;
}

.cart a  {
    color: black;
    border: none;
    padding: 0;
}

.cart {
    position: absolute;
    min-height: 10rem;
    background: #fff;
    top: 60px;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
}

.cart ul {
    list-style: none;
    text-decoration: none;
    display: block;
    width: 100%;

}

.cart ul li {
}

.show-cart {
    width: 25rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}

.cart a:hover {
    border-color: none;
    background: none;
}


#clear-cart {
    font-size: 1.2rem;
    color: black;
    border: black 2px solid;
    padding: 5px;
    transition: all ease-in-out 0.4s;
}

#clear-cart:hover {
    color: orange;
    border-color: orange;
}

#checkout {
    font-size: 1.2rem;
    color: black;
    border: black 2px solid;
    padding: 5px;
    transition: all ease-in-out 0.4s;
}

#checkout:hover {
    border-color: #dc3545;
    color: #dc3545;
}

.cart-item-remove:hover {
    transform: scale(1.1);
}

/* about section */

.about-img-container {
    position: relative;
}

.about-img-container::before {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid yellow;
    z-index: -10;
    transition: all 0.5s linear;
}

.about-img-container:hover:before {
    bottom: 0;
    left: 0;
}

.about-title {
    font-size: 5rem;
    color: #dc3545;
    text-shadow: 2px 2px black;
}

.about p {
    font-size: 1.3rem;
}


/* store section */
#search-icon .fas {
    color: black;
}

.store {
    background: #D5D8DC;
}

.single-item {
    transition: all 0.4s linear;
}

.single-item:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0 );
}

.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.store-img {
    transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
    transform: scale(1.1);
} 

.store-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-radius: 10px 0 0 0;
    background: yellow;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
    transform: translate(0, 0);
}

.store-item-icon:hover {
    color: orangered;
}

.card-body h5 {
    font-size: 1rem;
}

/* services */
.service {
    height: 100%;
    background: url('../img/OP-sword.jpg') no-repeat center center /cover;
    background-attachment: fixed;
}

.service-icon h6{
    color: white;
    text-shadow: 1px 1px black;
    font-weight: 800;
}

.service-icon p {
    color: white;
}

/* Order section */

#order .red-sword {
    font-size: 4rem;
}



/* footer */

.footer-title {
    color: #dc3545;
    background: black;
    font-weight: 800;
}

.footer-title .footer-icon {
    color: white;
    transition: all .5s ease-in-out;
}


.footer-contact {
    background: #D5D8DC;
}

.footer-icon{
    font-size: 1.2rem;
}

.footer-icon:hover{
    color: #dc3545;
}



/* Modal */
.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6) !important;
    display: none;
  }
  .show {
    display: block;
  }
  
  .lightbox-holder {
    position: relative;
  }
  .lightbox-item {
      height: 700px;
      width: 700px;
    background: url("../img/ruroni-kenshin-sword.jpeg") no-repeat center center;
    background-attachment: fixed;
    background-size: 800px 800px;
    border-radius: 0.3rem;
    margin: auto auto;
    margin-top: 10rem;

  }

  .lightbox-close {
    position: absolute;
    right: 25%;
    color: red;
    font-size: 3rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }
  .lightbox-close:hover {
    color: yellow;
  }
  
  .lightbox-control {
    position: absolute;
    font-size: 4rem;
    color: #dc3545;
    transition: all 1s linear;
    cursor: pointer;
  }
  .lightbox-control:hover {
    color: yellow;
  }
  .btn-left {
    top: 50%;
    left: 0;
    transform: translateX(-60%);
  }
  .btn-right {
    top: 50%;
    right: 0;
    transform: translateX(60%);
  }
  